@import "../../global/skin";

.arrow {
  color: $ifm-blue;
  padding: 5px;
  z-index: 999999;
  border-radius: $border-radius;
  background-color: rgba(255,255,255,.75);
}

.top-arrow {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 102;
}

.fa-chevron-up {
  margin: 0 auto;
  text-align: center;
  padding: 5px 8px 8px 8px;
}

//.left-right-arrows {
//  width: 100%;
//  height: 100vh;
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//}

.left-arrow {
  z-index: 99;
  position: fixed;
  left: 0;
  height: 100vh;
  display: flex;
  align-items: center;
}

.right-arrow {
  right: 0;
  position: fixed;
  z-index: 99;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fa-chevron-left {
  padding: 8px 8px 8px 5px;
}

.fa-chevron-right {
  padding: 8px 5px 8px 8px;
  float: right;
}

.back-button {
  position: absolute;
  z-index: 99;
  margin-top: 30px;
  padding: 5.5px;
  font-size: x-small;
  color: white;
  border-radius: $border-radius;
  font-weight: 500;
  background-color: $ifm-blue-transparent;
  text-transform: uppercase;
  transition: .4s ease-in-out;
  &:hover {
    color: white;
    background-color: $ifm-orange;
  }
}

@media only screen and (max-width: 600px) {

  //.right-arrow {
  //  width: 35px;
  //}
  //
  //.left-arrow {
  //  width: 35px;
  //}
  //
  //.top-arrow {
  //  height: 35px;
  //}

}