// - - - - - - - - - - - - - - - - - - -
// - - skin
// global skin styles - gradients, colors, box-shadows, etc.


//colors
$ifm-blue: #001044;
$ifm-blue-transparent: rgba(0, 16, 68, .9);

$ifm-orange: #f7931e;

$border-radius: 2px;